<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <header>MusicApp</header>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if logged_in? %>
    <%= button_to "Log out", session_url, method: :delete %>
    <% else %>
    <%= link_to "Log in", new_session_url %>
    <% end %>

    <%= yield %>

    <br>
    <br>
    <footer>
      <%= link_to 'HOME', bands_url %>
      < Greatest MusicApp in the GAME>
    </footer>
  </body>
</html>
